@import 'variables';

body {
    font-family: $font-primary;
}

[data-bs-theme="dark"] {
    --bs-body-color: #{($white)};
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #{($dark)};
    --bs-body-bg-rgb: #{to-rgb($dark)};
    --bs-tertiary: #{$blue-600};

    .btn-primary {
        --bs-btn-bg: #{mix($grey, $blue-400, .5 * 1%)};
        --bs-btn-border-color: #{rgba($white, .25 * 1%)};
        --bs-btn-hover-bg: #{darken(mix($grey, $blue-400, .5 * 1%), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($grey, $blue-400, .5 * 1%), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5 * 1%)};
        --bs-btn-focus-border-color: #{rgba($white, .5 * 1%)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2 * 1%);
      }
}
  