@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import './colors.scss';

$primary: $sam-blue;
$secondary: $grey;
$dark: $bg-dark;

@import "../../node_modules/bootstrap/scss/bootstrap";

[data-bs-theme="dark"] {
    --bs-body-color: #{($white)};
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #{($bg-dark)};
    --bs-body-bg-rgb: #{to-rgb($bg-dark)};
    --bs-primary: #{$sam-blue};
    --bs-primary-rgb: #{to-rgb($sam-blue)};
}

.text-card {
    font-weight: lighter;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.text-emphasis {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(30px + 2.5vw);
}

.app-div {
    display: inline !important;
}
